mixin i(name)
	svg.icon(class='icon-' + name class=attributes.class) 	
		use(xlink:href='#icon-' + name)

mixin i_d(name)
	svg.icon(class='icon-double-' + name class=attributes.class) 
		use(href='#icon-' + name + '-fill' class='fill')
		use(href='#icon-' + name + '-stroke' class='stroke')

mixin img(srcSet, src, alt)
	img(srcset=srcSet + " 2x" src=src alt=alt)

mixin action_item(min_btn=false)
	.action-item(class=attributes.class)
		button.action-head(class= min_btn ? 'btn-action-small' : 'action-btn')
			+i('more-horizontal')
		.action-body.p-3
			block

mixin balance(value="0", position=up, fill=false)
	.balance.d-inline-flex.align-items-center.px-1(class=position title=title class=attributes.class class=fill ? 'fill' :  '')
		+i('arrow-up')(class="me-1 d-block")
		= value
		span 
			block

mixin info(title="Small description", position=top)
	.info-tooltip(data-bs-toggle="tooltip" data-bs-placement=position title=title class=attributes.class)
		+i('info')

//- args: percent, class-color, title, value
mixin progress(bars)
	.progress(class=attributes.class)
		each bar in bars
			- var attr = {'class': bar[1], 'role': 'progressbar', 'style': 'width: ' + bar[0] + '%', 'aria-valuenow': bar[0], 'aria-valuemin': 0, 'aria-valuemax': 100}
			//- tooltip
			if bar[2]
				- attr['data-bs-custom-class'] = 'tooltip-progress'
				- attr['data-bs-toggle'] = 'tooltip'
				- attr['data-bs-html'] = 'true'
				- attr['title'] = '<div>'+bar[3]+'</div><span class=&apos;'+bar[1]+'&apos;></span>'+bar[2]
			.progress-bar&attributes(attr)

mixin smileys()
	.smileys-actions
		button.smileys-head(class=attributes.class)
			+i_d('smile')
		.smileys-body.d-flex.rounded-1.p-1
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/Blush.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/Surprised.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/SweatGrinning.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/Cool.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/Sleepy.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/CryingWithLaughter.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/HeartEyes.png")
			button.smileys-item.rounded-circle
				img(src="img/content/reaction/SmileEyes.png")

mixin editor()
	.editor.mb-5.mb-sm-6.position-relative(class=attributes.class)
		.editor-toolbar.d-flex.p-3
			button.ql-bold
				+i('bold')
			button.ql-italic.ms-5
				+i('italic')
			button.ql-underline.ms-5
				+i('underline')
			+smileys()(class="ms-5")
			button.ms-5
				+i('link')
			button.ql-list.ms-5
				+i('list')
			button.d-none.d-sm-block.ql-align.ms-5
				+i('align')
			button.d-none.d-sm-block.ms-auto
				+i('arrow-left')
			button.d-none.d-sm-block.ms-2
				+i('arrow')
		.editor-container(type="text")
		block
				
mixin item_notification(userpic, icon, color, name, login, time, new_notify=false)
	a.item.d-flex.align-items-center.p-3.position-relative(class=new_notify ? 'new' : '' href="/notification.html")
		.userpic.flex-shrink-0.me-3.position-relative
			.notify-icon.d-flex.align-items-center.justify-content-center.end-0.bottom-0.position-absolute(class= color)
				+i(icon)
			img.w-100(src=userpic)
		.content.w-100
			.item-title.d-flex.align-items-center.justify-content-between
				.name.me-1= name
				.login.me-auto= login
				.time.me-6= time
			.message.text-truncate
				block